.navbar-brand {
    width: 220px;
    background:
            url(../../img/logo-alt.svg)
            center center / 200px 200px
            #094370
            no-repeat
}

html, body {
    background-color: #fff;
    color: #495155;
    /*color: #636b6f;*/
    font-family: 'Raleway';
    //font-weight: 600;
    font-weight: 500;
    height: 200vh;
    font-size: 110%;
    line-height: 125%;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

h1, h3 {

    color: #2b3337;

}


code {

    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgba(77, 228, 255, 0.50);
    border-radius: 5px;

}

blockquote {

    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgba(77, 228, 255, 0.50);
    border-radius: 10px;

}

#divider {

    clear: both;

}

//JIRA issue collector styling
.atlwdg-popup {

    height: 90% !important;
    width: 80% !important;

}

