
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//Custom
.navbar-brand {
  width: 220px;
  background:
          url(../img/logo-alt.svg)
          center center / 200px 200px
          #094370
          no-repeat
}

html, body {
  background-color: #fff;
  color: #495155;
  /*color: #636b6f;*/
  font-family: 'Raleway';
  font-weight: 300;
  height: 200vh;
  font-size: 110%;
  line-height: 125%;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

h1, h2, h3 {

  color: #2b3337;

}

h1 > a, h2 > a, h3 > a{

  color: #2b3337;

}

h2 > a{

  font-weight: 300 !important;

}


code {

  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: rgba(9, 67, 112, 1.0);
  //background-color: rgba(9, 67, 112, 0.25);
  color: #6cab36;
  border-radius: 3px;
  border-style: solid;
  border-color: #6cab36;
  border-width: 1px;

}

blockquote {

  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: #f5f5f5;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
  font-size: 13px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  line-height: 1.428571429;


}

#divider {

  clear: both;

}



